.plan-form {
    display: flex;
    justify-content: space-around;
}

.form-plan-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-textarea {
    max-height: 150px;
    width: 150px;
    max-width: 200px;
    min-width: 100px;
}

.fa-xmark,
.fa-plus {
    display: inline;
}

.fa-xmark:hover,
.fa-plus:hover {
    cursor: pointer;
}

.fa-plus {
    align-self: flex-end;
}

.task {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid brown;
    gap: 5px;
}


.error {
    font-size: .8rem;
    color: red;
    margin: 0;
    padding: 0;
}

.small {
    font-size: .7rem;
}

.label-plan-form {
    margin-top: 25px;
}

.bttn {
    font-size: 1.5rem;
    margin: 15px;
    padding: 10px 20px;
    font-family: inherit;
    background-color: inherit;
}

.bttn:hover {
    cursor: pointer;
    box-shadow: 5px 5px 1px;
}

.bold {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 900;
}
