.read-page {
    display: grid;
    grid-template-columns: auto 30vw;
    margin: 10px;
}

#spinner {
    margin: 0 auto;
    font-size: 3rem;
    color: #3A98B9;
}

.spinner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.select-book {
    overflow: scroll;
    height: 40vh;
    border: 1px solid brown;
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 150px;
    background-color: white;
}

.chapter-number-in-text {
    font-size: 3rem;
    font-weight: bold;
}


.Bible-text-area {
    border: 1px solid #3c3c3c;
    padding: 10vh 10vw;
    overflow-y: scroll;
    height: 55vh;
}

.chapter-box {
    display: flex;
    flex-wrap: wrap;

}

.chapter-number {
    padding: 5px;
}

.chapter-number:hover {
    cursor: pointer;
    color: #3c3c3c;
}

.selected-book-title {
    user-select: none
}

.selected-book-title:hover {
    cursor: pointer;
}

.book-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-selection {
    box-sizing: border-box;
    width: 15vw;
    margin: 5px;
    padding: 5px 5px 5px 20px;
    flex-grow: 1;
    border: 1px solid transparent;
}

.book-selection:hover {
    border: 1px solid brown;
    cursor: pointer;
}

.book-top {
    display: flex;
    justify-content: center;
}
