.read-page {
    display: grid;
    grid-template-columns: auto 30vw;
    margin: 10px;
}

.verse {
    margin-block-start: .7em;
    margin-block-end: .7em;
    line-height: 1.5rem;
}

#spinner {
    margin: 0 auto;
    font-size: 3rem;
    color: #3A98B9;
}

.spinner-container {
    margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.select-book {
    overflow: scroll;
    height: 40vh;
    border: 1px solid brown;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 150px;
    background-color: white;
}

.bookmark-icon {

    height: 1.5em;
    vertical-align: -0.125em;
    padding: 3px 3px 3px 0;
    margin: 2px;
    border: transparent 1px solid;

}

.bookmark-icon:hover {
    position: relative;
    bottom: 2px;
    cursor: pointer;

    border: transparent 1px solid;
}

.title-bookmarks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chapter-number-in-text {
    font-size: 3rem;
    font-weight: bold;
}


.Bible-text-area {
    border: 1px solid #3c3c3c;
    padding: 10vh 10vw;
    overflow-y: scroll;
    height: 55vh;
}

.chapter-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    max-width: 15vw;
    margin-left: 10px;
}

.chapter-number {
    padding: 5px;
    border: 1px solid transparent;
    text-align: center;
}

.chapter-number:hover {
    cursor: pointer;
    color: #3A98B9;
}

.selected-book-title {
    user-select: none
}

.selected-book-title:hover {
    cursor: pointer;
}

.book-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-selection {
    box-sizing: border-box;
    width: 20vw;
    margin: 5px;
    padding: 5px 5px 5px 20px;
    flex-grow: 1;
    border: 1px solid transparent;
}

.book-selection:hover {
    border: 1px solid brown;
    cursor: pointer;
}

.book-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
