.pop-up-container-bookmarks {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 70px;
    background-color: rgb(255, 245, 213);
    position: absolute;
    padding: 0 20px 0 20px;
    border-radius: 10px;

    /* border: 1px solid rgb(168, 168, 168); */
    box-shadow: 1px 1px 5px;
}
