.pop-up-container-bookmarks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: start;
    align-items: center;
    width: 140px;
    height: 40px;
    background-color: rgb(255, 245, 213);
    position: absolute;
    padding: 0 5px 0 20px;
    border-radius: 10px;
    /* border: 1px solid rgb(168, 168, 168); */
    box-shadow: 1px 1px 5px;
}

.pop-up-container-bookmarks-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 245, 213);
    position: absolute;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}

.pop-up-container-bookmarks-details p {
    margin: 5px 10px;

}

.bookmark-help {
    font-size: .8rem;
}

.red {
    color: red;
}

.black {
    color: black;
}

.bookmarks-delete-mode {
    background-color: rgb(253, 163, 163);
}

.fa-delete-left {
    font-size: 10px;
    justify-self: end;
}

.delete-bookmark {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: brown;
    margin-left: 5px;

}

.delete-bookmark:hover {
    border: 1px solid brown;
    cursor: pointer;
}

.delete-bookmark-filled {
    background-color: brown;
    color: red;
}
