@font-face {
    font-family: 'DMSans-Regular';
    src: local('DMSans-Regular'), url(./fonts/dmsans/DMSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'DMSans-Medium';
    src: local('DMSans-Medium'), url(./fonts/dmsans/DMSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'DMSans-Bold';
    src: local('DMSans-Bold'), url(./fonts/dmsans/DMSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'DMSans-Italic';
    src: local('DMSans-Italic'), url(./fonts/dmsans/DMSans-Italic.ttf) format('truetype');
}


body {
    font-family: 'DMSans-Regular', sans-serif;
}
