.profile-dropdown {
  position: absolute;
  list-style: none;
  right: 30px
}

.hidden {
  display: none;
}

.nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 15px 30px 30px 30px;
  align-items: center;
}

.profile-bttn {
  padding: 10px 20px;
  border: 1px transparent solid;
  font-size: 1.3rem;
}

.profile-bttn:hover {
  border: 1px brown solid;
  cursor: pointer;
}

.nav-left-links {
  padding: 10px;
  margin-right: 70px;
}
