.plans-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30vw;
}

.plan-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    padding: 20px;
    border: 1px solid transparent;
    margin: 10px;
    border-bottom: 1px solid brown;
}

.plan-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30vw;
}

.plan-box:hover {
    cursor: pointer;
    border: 1px solid brown;
}

.days {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 3px;
    max-width: 30vw;
    align-items: flex-end;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.done-mark {
    color: #63d228;

}

.prox-snap {
    scroll-snap-type: x proximity;
}

.mand-snap {
    scroll-snap-type: x mandatory;
}

.enrolled-flag {
    color: rgb(247, 166, 26);
}

.day-div {
    border: 1px brown solid;
    padding: 15px;
    display: flex;
    align-items: center;
    height: 20px;
    justify-content: center;
}

.snapped {
    scroll-snap-align: center;
}

.large {
    border: 5px brown solid;
    padding: 20px;
    height: 25px;
    font-family: 'DMSans-Bold', sans-serif;

}


.day-div>p {
    margin: 0;
}

.day-div:hover {
    cursor: pointer;
    background-color: rgb(255, 195, 195);
}

.plan-name {}

.fa-chevron-left {
    cursor: pointer;
}

.view-all-plans-bttn {
    font-family: inherit;
    color: black;
    background-color: rgb(255, 209, 131);
    border: 1px solid transparent;
    width: 100%;
    font-size: 1rem;
}


.view-all-plans-bttn:hover {
    cursor: pointer;
    border: 1px solid brown;
}

.unenroll-bttn {
    background-color: rgb(230, 38, 38);
    color: whitesmoke;
}

.fa-gear:hover {
    cursor: pointer;
}

.plan-details {
    align-items: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap10 {
    gap: 10px
}
