.right-nav-bttn {
    border: #3c3c3c 1px solid;
    padding: 3px;
}

.right-nav-bttn:hover {
    background-color: beige;
    cursor: pointer;
}

.right-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.note-title {
    box-sizing: border-box;
    color: #3A98B9;
    padding: 10px;
    border-radius: 10px;
}

.note-div {
    padding: 15px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(219, 192, 158);
    border-radius: 10px;
    max-width: 30vw;

    /* background-color: rgb(255, 245, 213); */
}

.notes-container {
    max-width: 30vw;
}

.note-text {
    overflow-wrap: break-word;
}

.title-and-back-arrow {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
}

.back-arrow {
    padding: 10px 20px;
    justify-self: center;
}

.back-arrow:hover {
    cursor: pointer;
    border: #3A98B9 1px solid;
    border-radius: 10px;
}

.wider {
    height: 40px;
}


.note-input {
    max-height: 150px;
    height: 80px;
    width: 200px;
    max-width: 100%;
    min-width: 100px;
}

.no-margin {
    margin: 0;
}

.bttn-face-delete {
    font-size: .8rem;
    width: 50%;
}

.smaller {
    font-size: .8rem;
}

.note-wrapper {
    width: 30vw;
}

.edit-delete-note-bttns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px
}
