.right-nav-bttn {
    border: transparent 1px solid;
    color: #3A98B9;
    background-color: rgb(255, 245, 213);
    padding: 7px 10px;
}

.tab-open {
    background-color: rgb(255, 209, 131);
}

.right-nav-bttn:hover {
    border: 1px brown solid;
    cursor: pointer;
}

.right-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 245, 213);
    border-radius: 5px;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.note-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.note-title {
    box-sizing: border-box;
    color: #3A98B9;
    padding: 10px;
    border-radius: 10px;
}

.note-div {
    padding: 15px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(219, 192, 158);
    border-radius: 10px;
    width: 29vw;

    /* background-color: rgb(255, 245, 213); */
}

.notes-container {
    max-width: 31vw;
    max-height: 64vh;
    overflow-y: scroll;
}

.note-text {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.title-and-back-arrow {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
}

.back-arrow {
    padding: 10px 20px;
    justify-self: center;
    border: transparent 1px solid;
}

.back-arrow:hover {
    cursor: pointer;
    border: #3A98B9 1px solid;
    border-radius: 10px;
}

.back-arrow[disabled] {
    pointer-events: none;
    color: gray;
}

.back-arrow[disabled]:hover {
    pointer-events: none;
    border: transparent 1px solid;
    color: gray;
}

.wider {
    height: 40px;
}


.note-input {
    height: 80px;
    width: 200px;
    resize: none;
}

.no-margin {
    margin: 0;
}

.bttn-face-delete {
    font-size: .8rem;
}

.smaller {
    font-size: .8rem;
}

.note-wrapper {
    width: 30vw;
}

.edit-delete-note-bttns {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px
}
